<div class="row mb-4">
  <div class="col-md-6 offset-md-3">
    <div class="list-group">
      <% users.each do |user| %>
        <%= link_to "#{user.username}", user_path(user.username), class: "list-group-item list-group-item-action" %>
      <% end %>
    </div>
  </div>
</div>
